{% extends "adminlte/base.html" %}
{% load static %}
{% block content %}
<!-- Message Container -->
<div id="message-container" class="alert-container"></div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><strong>Courses List</strong></h3>
            </div>
            <div class="card-body table-responsive">
                <table id="semesters-table" class="table table-striped table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>course</th>
                            <th>Course Code</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr>
                            <td><a href="{% url 'records:course_student_records' course.course_id semester.semester_id batch.batch_id %}">{{ course.course_name }}</td>
                            <td>{{ course.course_code }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function() {
        // Initialize DataTable
        $('#semesters-table').DataTable({
            dom: '<"row"<"col-sm-12 col-md-6"><"col-sm-12 col-md-6">>' +
                 '<"row"<"col-sm-12"tr>>' +
                 '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            language: {
                zeroRecords: "No records available",
                info: "Showing page _PAGE_ of _PAGES_",
                infoEmpty: "No records available",
                infoFiltered: "(filtered from _MAX_ total records)",
                paginate: {
                    first: "First",
                    last: "Last",
                    next: "Next",
                    previous: "Previous"
                }
            }
        });

        // Check if there is a success message in localStorage
        var successMessage = localStorage.getItem('successMessage');
        if (successMessage) {
            $('#message-container').html('<div class="alert alert-success">' + successMessage + '</div>');
            localStorage.removeItem('successMessage');
            setTimeout(function() {
                $('#message-container').empty();
            }, 2000);
        }
    });
</script>

{% endblock %}
