{% extends "adminlte/base.html" %}
{% block content %}
<h1>Courses</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Course Code</th>
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td><a href="{% url 'students:student' course.course_id %}">{{ course.course_name }}</a></td>
            <td>{{ course.course_code }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
