{% extends "adminlte/base.html" %}
{% load static %}
{% load custome_filters %}
{% block content %}
<!-- Message Container -->
<div id="message-container" class="alert-container"></div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><strong> Batch Section </strong></h3>
                <button class="btn btn-success float-right" data-bs-toggle="modal" data-bs-target="#addBatchModal">Add Batch</button>
            </div>
            <div class="card-body">
                <table id="batches-table" class="table table-striped table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Batch Name</th>
                            <th>Batch year</th>
                            <th>Batch Number</th>
                            <th>Batch Session</th>
                            <th>Program</th>
                            <th>Department</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for batch in batches %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ batch.batch_name }}</td>
                            <td>{{ batch.batch_year }}</td>
                            <td>{{ batch.batch_number }}</td>
                            <td>{{ batch.batch_session }}</td>
                            <td>{{ batch.program.program_name }}</td>
                            <td>{{ batch.program.department.department_name }}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#updateBatchModal{{ batch.batch_id }}">Update</button>
                                <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteBatchModal{{ batch.batch_id }}">Delete</button>
                            </td>
                        </tr>

                        <!-- Update Batch Modal -->
                        <div class="modal fade" id="updateBatchModal{{ batch.batch_id }}" tabindex="-1" aria-labelledby="updateBatchModalLabel{{ batch.batch_id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form id="updateBatchForm{{ batch.batch_id }}" method="post" action="{% url 'academics:batch_update' batch.batch_id %}">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="updateBatchModalLabel{{ batch.batch_id }}">Update Batch</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ update_forms|get_item:batch.batch_id }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Delete Batch Modal -->
                        <div class="modal fade" id="deleteBatchModal{{ batch.batch_id }}" tabindex="-1" aria-labelledby="deleteBatchModalLabel{{ batch.batch_id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form id="deleteBatchForm{{ batch.batch_id }}" method="post" action="{% url 'academics:batch_delete' batch.batch_id %}">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteBatchModalLabel{{ batch.batch_id }}">Confirm Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete {{ batch.batch_name }}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add Batch Modal -->
<div class="modal fade" id="addBatchModal" tabindex="-1" aria-labelledby="addBatchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addBatchForm" method="post" action="{% url 'academics:add_batch' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addBatchModalLabel">Add Batch</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form.as_p }} <!-- Render the form fields -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function() {
        // Initialize DataTable with buttons
        $('#batches-table').DataTable({
            dom: '<"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"Bf>>' +
                 '<"row"<"col-sm-12"tr>>' +
                 '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    className: 'btn btn-success float-right pdf-button',
                    text: 'PDF'
                },
                {
                    extend: 'excelHtml5',
                    className: 'btn btn-success excel-button',
                    text: 'Excel'
                },
                {
                    extend: 'print',
                    className: 'btn btn-info float-right print-button',
                    text: 'Print'
                }
            ],
            lengthMenu: [[25, 50, 100], [25, 50, 100]],
            language: {
                lengthMenu: "Show _MENU_ entries",
                zeroRecords: "No records available",
                info: "Showing page _PAGE_ of _PAGES_",
                infoEmpty: "No records available",
                infoFiltered: "(filtered from _MAX_ total records)",
                search: "Search:",
                paginate: {
                    first: "First",
                    last: "Last",
                    next: "Next",
                    previous: "Previous"
                }
            }
        });

        // Check if there is a success message in localStorage
        var successMessage = localStorage.getItem('successMessage');
        if (successMessage) {
            $('#message-container').html('<div class="alert alert-success">' + successMessage + '</div>');
            localStorage.removeItem('successMessage');
            setTimeout(function() {
                $('#message-container').empty();
            }, 2000);
        }

        // Handle form submission via AJAX for Add Batch
        $('#addBatchForm').submit(function(event) {
            event.preventDefault();

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        localStorage.setItem('successMessage', response.message);
                        $('#addBatchModal').modal('hide');
                        setTimeout(function() {
                            location.reload();
                        }, 500);
                    } else {
                        $('#message-container').html('<div class="alert alert-danger">' + response.message + '</div>');
                        setTimeout(function() {
                            $('#message-container').empty();
                        }, 2000);
                    }
                },
                error: function() {
                    $('#message-container').html('<div class="alert alert-danger">An error occurred while adding the batch.</div>');
                    setTimeout(function() {
                        $('#message-container').empty();
                    }, 2000);
                }
            });
        });

        // Handle form submission via AJAX for Update Batch
        $('form[id^="updateBatchForm"]').submit(function(event) {
            event.preventDefault();

            var formId = $(this).attr('id');
            var batchId = formId.replace('updateBatchForm', '');
            var updateForm = $(this);

            $.ajax({
                type: 'POST',
                url: updateForm.attr('action'),
                data: updateForm.serialize(),
                success: function(response) {
                    if (response.success) {
                        localStorage.setItem('successMessage', response.message);
                        $('#updateBatchModal' + batchId).modal('hide');
                        setTimeout(function() {
                            location.reload();
                        }, 500);
                    } else {
                        $('#message-container').html('<div class="alert alert-danger">' + response.message + '</div>');
                        setTimeout(function() {
                            $('#message-container').empty();
                        }, 2000);
                    }
                },
                error: function() {
                    $('#message-container').html('<div class="alert alert-danger">An error occurred while updating the batch.</div>');
                    setTimeout(function() {
                        $('#message-container').empty();
                    }, 2000);
                }
            });
        });

        // Handle form submission via AJAX for Delete Batch
        $('form[id^="deleteBatchForm"]').submit(function(event) {
            event.preventDefault();

            var formId = $(this).attr('id');
            var batchId = formId.replace('deleteBatchForm', '');
            var deleteForm = $(this);

            $.ajax({
                type: 'POST',
                url: deleteForm.attr('action'),
                data: deleteForm.serialize(),
                success: function(response) {
                    if (response.success) {
                        localStorage.setItem('successMessage', response.message);
                        $('#deleteBatchModal' + batchId).modal('hide');
                        setTimeout(function() {
                            location.reload();
                        }, 500);
                    } else {
                        $('#message-container').html('<div class="alert alert-danger">' + response.message + '</div>');
                        setTimeout(function() {
                            $('#message-container').empty();
                        }, 2000);
                    }
                },
                error: function() {
                    $('#message-container').html('<div class="alert alert-danger">An error occurred while deleting the batch.</div>');
                    setTimeout(function() {
                        $('#message-container').empty();
                    }, 2000);
                }
            });
        });
    });
</script>
{% endblock %}
