{% extends "adminlte/base.html" %}
{% block content %}
<h1>Semesters</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Semester Name</th>
            <th>Semester Number</th>
        </tr>
    </thead>
    <tbody>
        {% for semester in semesters %}
        <tr>
          <td><a href="{% url 'academics:course' semester.semester_id %}">{{ semester }}</a></td>
          <td> <a href="{% url 'academics:course' semester.semester_id %}">{{semester.semester_number}}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
