{% extends "adminlte/base.html" %}
{% load static %}
{% load custome_filters %}
{% block content %}
<!-- Message Container -->
<div id="message-container" class="alert-container"></div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><strong> Semesters Section </strong></h3>
                <button class="btn btn-success float-right" data-bs-toggle="modal" data-bs-target="#addSemesterModal">Add Semester</button>
            </div>
            <div class="card-body">
                <table id="semesters-table" class="table table-striped table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Semester Number</th>
                            <th>Semester Session</th>
                            <th>Program</th>
                            <th>Department</th>
                            <th class="exclude">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for semester in semesters %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ semester.semester_number }}</td>
                            <td>{{ semester.semester_category }}</td>
                            <td>{{ semester.program.program_name }}</td>
                            <td>{{ semester.program.department.department_name }}</td>
                            <td class="exclude">
                                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#updateSemesterModal{{ semester.semester_id }}">Update</button>
                                <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteSemesterModal{{ semester.semester_id }}">Delete</button>
                            </td>
                        </tr>

                        <!-- Update Semester Modal -->
                        <div class="modal fade" id="updateSemesterModal{{ semester.semester_id }}" tabindex="-1" aria-labelledby="updateSemesterModalLabel{{ semester.semester_id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form id="updateSemesterForm{{ semester.semester_id }}" method="post" action="{% url 'academics:semester_update' semester.semester_id %}">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="updateSemesterModalLabel{{ semester.semester_id }}">Update Semester</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ update_forms|get_item:semester.semester_id }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Delete Semester Modal -->
                        <div class="modal fade" id="deleteSemesterModal{{ semester.semester_id }}" tabindex="-1" aria-labelledby="deleteSemesterModalLabel{{ semester.semester_id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form id="deleteSemesterForm{{ semester.semester_id }}" method="post" action="{% url 'academics:semester_delete' semester.semester_id %}">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteSemesterModalLabel{{ semester.semester_id }}">Confirm Delete</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete {{ semester.semester_number }}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add Semester Modal -->
<div class="modal fade" id="addSemesterModal" tabindex="-1" aria-labelledby="addSemesterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addSemesterForm" method="post" action="{% url 'academics:add_semester' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addSemesterModalLabel">Add Semester</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form.as_p }} <!-- Render the form fields -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function() {
        // Initialize DataTable with buttons
        $('#semesters-table').DataTable({
            dom: '<"row"<"col-sm-12 col-md-6"l><"col-sm-12 col-md-6"Bf>>' +
                 '<"row"<"col-sm-12"tr>>' +
                 '<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
                 buttons: [
                 {
                     extend: 'pdfHtml5',
                     className: 'btn btn-success float-right pdf-button',
                     text: 'PDF',
                     exportOptions: {
                         columns: ':not(.exclude)'
                     }
                 },
                 {
                     extend: 'excelHtml5',
                     className: 'btn btn-success excel-button',
                     text: 'Excel',
                     exportOptions: {
                         columns: ':not(.exclude)'
                     }
                 },
                 {
                     extend: 'print',
                     className: 'btn btn-info float-right print-button',
                     text: 'Print',
                     exportOptions: {
                         columns: ':not(.exclude)'
                     }
                 }
             ],
            lengthMenu: [[25, 50, 100], [25, 50, 100]],
            language: {
                lengthMenu: "Show _MENU_ entries",
                zeroRecords: "No records available",
                info: "Showing page _PAGE_ of _PAGES_",
                infoEmpty: "No records available",
                infoFiltered: "(filtered from _MAX_ total records)",
                search: "Search:",
                paginate: {
                    first: "First",
                    last: "Last",
                    next: "Next",
                    previous: "Previous"
                }
            }
        });

        // Check if there is a success message in localStorage
        var successMessage = localStorage.getItem('successMessage');
        if (successMessage) {
            $('#message-container').html('<div class="alert alert-success">' + successMessage + '</div>');
            localStorage.removeItem('successMessage');
            setTimeout(function() {
                $('#message-container').empty();
            }, 2000);
        }

        // Handle form submission via AJAX for Add Semester
        $('#addSemesterForm').submit(function(event) {
            event.preventDefault();

            $.ajax({
                type: 'POST',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        localStorage.setItem('successMessage', response.message);
                        $('#addSemesterModal').modal('hide');
                        setTimeout(function() {
                            location.reload();
                        }, 500);
                    } else {
                        $('#message-container').html('<div class="alert alert-danger">' + response.message + '</div>');
                        setTimeout(function() {
                            $('#message-container').empty();
                        }, 2000);
                    }
                },
                error: function() {
                    $('#message-container').html('<div class="alert alert-danger">An error occurred while adding the semester.</div>');
                    setTimeout(function() {
                        $('#message-container').empty();
                    }, 2000);
                }
            });
        });

        // Handle form submission via AJAX for Update Semester
        $('form[id^="updateSemesterForm"]').submit(function(event) {
            event.preventDefault();

            var formId = $(this).attr('id');
            var semesterId = formId.replace('updateSemesterForm', '');
            var updateForm = $(this);

            $.ajax({
                type: 'POST',
                url: updateForm.attr('action'),
                data: updateForm.serialize(),
                success: function(response) {
                    if (response.success) {
                        localStorage.setItem('successMessage', response.message);
                        $('#updateSemesterModal' + semesterId).modal('hide');
                        setTimeout(function() {
                            location.reload();
                        }, 500);
                    } else {
                        $('#message-container').html('<div class="alert alert-danger">' + response.message + '</div>');
                        setTimeout(function() {
                            $('#message-container').empty();
                        }, 2000);
                    }
                },
                error: function() {
                    $('#message-container').html('<div class="alert alert-danger">An error occurred while updating the semester.</div>');
                    setTimeout(function() {
                        $('#message-container').empty();
                    }, 2000);
                }
            });
        });

        // Handle form submission via AJAX for Delete Semester
        $('form[id^="deleteSemesterForm"]').submit(function(event) {
            event.preventDefault();

            var formId = $(this).attr('id');
            var semesterId = formId.replace('deleteSemesterForm', '');
            var deleteForm = $(this);

            $.ajax({
                type: 'POST',
                url: deleteForm.attr('action'),
                data: deleteForm.serialize(),
                success: function(response) {
                    if (response.success) {
                        localStorage.setItem('successMessage', response.message);
                        $('#deleteSemesterModal' + semesterId).modal('hide');
                        setTimeout(function() {
                            location.reload();
                        }, 500);
                    } else {
                        $('#message-container').html('<div class="alert alert-danger">' + response.message + '</div>');
                        setTimeout(function() {
                            $('#message-container').empty();
                        }, 2000);
                    }
                },
                error: function() {
                    $('#message-container').html('<div class="alert alert-danger">An error occurred while deleting the semester.</div>');
                    setTimeout(function() {
                        $('#message-container').empty();
                    }, 2000);
                }
            });
        });
    });
</script>
{% endblock %}
